<h2>My Wine Flights</h2>

<h3>Here are your Wine Flights</h3>

<% wineFlight.forEach(w =>{ %>
    <div>
        <h2> <%= w.name %> </h2>
        <p>
            <%= w.wine1 %>
        </p>
        <p>
            <%= w.wine2 %>
        </p>
        <p>
            <%= w.wine3 %>
        </p>
        <p>
            <%= w.wine4 %>
        </p>
        <p>
            <%= w.wine5 %>
        </p>
        <p>
            <%= w.wine6 %>
        </p>
        <button id="deleteFlight">Remove this Flight</button>
    </div>
<% }) %>