<h2>Community Wine Flights</h2>

<% wineFlight.forEach(w =>{ %>
    <div>
        <h2> <%= w.name %> </h2>
        <p>
            <%= w.wine1 %>
        </p>
        <p>
            <%= w.wine2 %>
        </p>
        <p>
            <%= w.wine3 %>
        </p>
        <p>
            <%= w.wine4 %>
        </p>
        <p>
            <%= w.wine5 %>
        </p>
        <p>
            <%= w.wine6 %>
        </p>
    </div>
<% }) %>