<h1><%= wine.wine %></h1>

<hr />

<h2>Tasting Notes</h2>

  <% wine.wineTastings.forEach(function(a) { %>
    <div class="tasting">
      <h3>
        <%= a.notes %>
      </h3>
      <form method="DELETE" action="/wine/:id">
        <input type="hidden" name="<%= a.notes %>" value="<%= a.id %>"/>
        <button class="deleteButton" type="submit">Remove this note</button>
    </form>
    </div>
  <% }) %>
  <hr />

  <div>
  <h4>Add a new tasting note:</h4>
  <form method="POST" action="/wine">
    <input type="hidden" name="wineId" value="<%= wine.id %>" />
    <input type="integer" name="userId" id="userId" value=" " />
    <label for="notes">notes</label>
    <input type="text" id="notes" name="notes" required />
    <input type="submit" />
  </form>
</div>
<br />