<h2>View Available Wines</h2>

<% wine.forEach(w =>{ %>
    <div>
        <h2> <%= w.wine %> </h2>
        <p>
            <%= w.color %>
        </p>
        <p>
            <%= w.country %>
        </p>
        <p>
            <%= w.region %>
        </p>
        <p>
            <%= w.appelation %>
        </p>
        <p>
            <%= w.vintage %>
        </p>
        <a href="/wine/<%= w.id %>">Add a tasting note</a>
    </div>
<% }) %>