<h2>View Available Wines</h2>
<% wine.forEach(w =>{ %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= w.wine %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= w.color %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= w.region %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= w.country %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= w.appelation %></h6>
      <h6 class="card-subtitle mb-2 text-muted"><%= w.vintage %></h6>
      <a href="/wine/<%= w.id %>" class="wine">Add a tasting note</a>
    </div>
  </div>
  <% }) %>